
.play-background {
    /* -fx-background-image: url("../images/1.jpg"); */
    -fx-background-size: cover;
    /* -fx-background-color: grey; */
}
.gamepane {
    /* -fx-background-color: rgb(204, 204, 204); */
    -fx-background-color: rgb(255, 255, 255);
}
.control.button {
    -fx-body-color: grey;

}

.guess-row.enabled {
    -fx-padding: 5 0;
    -fx-border-width: 1;
    -fx-border-color:  green;
}

.guess-row .button {
    -fx-background-radius: 5em;
    -fx-max-width:45;
    -fx-min-width:45;
    -fx-max-height:45;
    -fx-min-height:45;
}


.guess-row .button:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color; 
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-background-radius: 5em;
}

.guess-row.enabled .button:focused{
    -fx-background-color: -fx-inner-border, -fx-body-color; 
    -fx-background-radius: 5em;
}

.guess-row.enabled .button.selected {
    -fx-background-insets: 5, 6, 2;
    -fx-background-color: -fx-body-color, -fx-faint-focus-color;
}

.picker {
    -fx-padding: 0 0 0 0;
}

.picker .button {
    -fx-max-width:45;
    -fx-min-width:45;
    -fx-max-height:45;
    -fx-min-height:45;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-background-radius: 5em;

}

.picker .button:focused {
    -fx-background-insets: 5, 6, 2;
    -fx-background-color:  -fx-body-color, -fx-faint-focus-color;

}


 .red {
    -fx-body-color: red;
}

 .blue {
    -fx-body-color: blue;
}

 .green {
    -fx-body-color: green;
}

 .yellow {
    -fx-body-color: yellow;
}
 .brown {
    -fx-body-color: brown;
}

 .purple {
    -fx-body-color: purple;
}

 .black {
    -fx-body-color: black;
}



